<%= form_tag(people_path, method: :get) do %>
  Search for Name: <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @people.each do |person| %>
<h2><%= link_to person.name, person %></h2>
<%= "Born: " + date_range_in_words(person.born_after, person.born_before) %><br/>
<%= person.notes %>
<% end %>
