
<h2>Modify Children of: <%= @person.name %></h2>
<%= @person.birth %><br/>

<%= form_tag(modify_children_path, method: :get) do %>
  Search for Name: <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @people.each do |child| %>
  <%= form_with(scope: :relationship, url: create_relationship_path, method: :post, local: true, :class => "form-inline") do %>
    <%= hidden_field_tag "child_id", child.id %>
    <%= hidden_field_tag "parent_id", @person.id %>
    <%= hidden_field_tag "return_id", @person.id %>
    <%= submit_tag 'Add As Child', name: nil %>
    <%= link_to "#{child.name} #{child.birth}", child %> 
  <% end %>
<% end %>

<hr>
<%= render "children", person: @person, allow_remove: true %>
