<%= link_to "Ancestors", show_upgraph_path(@person) %><br/>
<%= link_to "Descendancy", show_downgraph_path(@person) %>
<h2><%= @person.name %></h2>
<%= link_to 'Edit', edit_person_path(@person) %><br/>
<%= "Born: " + date_in_words(@person.birth) %><br/>
<%= @person.notes.gsub("\n","<br/>").html_safe %>

<hr>
<%= render "parents", person: @person, allow_remove: false %>
<%= link_to "Modify Parents", modify_parents_path %><br/>

<%= render "children", person: @person, allow_remove: false %>
<%= link_to "Modify Children", modify_children_path %><br/>

<%= render "images", person: @person, allow_remove: false %>
<%= link_to "Modify Images", images_path(@person) %>
