<%= link_to "Ancestors", show_upgraph_path(@person) %><br/>
<%= link_to "Descendancy", show_downgraph_path(@person) %>
<h2><%= @person.name %></h2>
<%= link_to 'Edit', edit_person_path(@person) %><br/>
<%= "Born: " + date_in_words(@person.birth) %><br/>
<%= "Place of Birth: " + (@person.birth_place || "Unknown") %><br/>
<% unless @person.death.nil? and @person.death_place.empty? %>
  <%= "Died: " + date_in_words(@person.death) %><br/>
  <%= "Place of Death: " + (@person.death_place || "Unknown") %><br/>
<% end %>
<%= @person.notes.gsub("\n","<br/>").html_safe %>

<hr>
<div style="display:flex;flex-wrap: wrap;justify-content:flex-start;">
  <div style="margin-right:auto;">
    <%= render "parents", person: @person, allow_remove: false %>
    <%= link_to "Modify Parents", modify_parents_path %><br/>
    
    <%= render "children", person: @person, allow_remove: false %>
    <%= link_to "Modify Children", modify_children_path %><br/>
    
  </div>
  <div style="margin-right:auto;">
    <%= render "partners", person: @person %>
    <%= render "siblings", person: @person %>
  </div>
</div>

<%= render "images", person: @person, allow_remove: false %>
<%= link_to "Modify Images", images_path(@person) %>
