
<h2><%= @person.name %></h2>
<%= link_to 'Edit', edit_person_path(@person) %><br/>
<%= @person.birth %><br/>
<%= @person.notes %>

<hr>
<%= render "parents", person: @person, allow_remove: false %>
<%= link_to "Modify Parents", modify_parents_path %><br/>

<%= render "children", person: @person, allow_remove: false %>
