<!DOCTYPE html>
<html>
  <head>
    <title>Family Tree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav><header>
      <%= link_to "Home", "/" %>
      <% if user_signed_in? %>
        <%= link_to "Add Person", new_person_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </header></nav>
    <% if notice and !notice.empty? %>
      <p class="notice"><%= notice %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>
    <% if alert and !alert.empty? %>
      <p class="alert"><%= alert %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></p>
    <% end %>

    <%= yield %>
  </body>
</html>
